#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.light-paper {
  background-color: rgba(245, 245, 245, 0.8) !important;
  padding: 1rem;
}

.full-view-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.diagonal-down-left {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.grow-on-hover {
  transition: transform 0.15s ease-in-out;
}

.grow-on-hover:hover {
  transform: scale3d(1.01, 1.01, 1);
}
